/* V2 */
:root {
  --foreground-bg: #f9f6ef;
  --border-color: #282828;
  --screen-bg: #f9f6ef;
  --screen-bg-alt: #282828;
  --screen-tx: #282828;
  --secret-txt-opacity: 0;
}

/* Dark override */
:root.dark-mode {
  --foreground-bg: #3b4453;
  --border-color: #f3f3f3;
  --screen-bg: #222933;
  --screen-bg-alt: #3b4453;
  --screen-tx: #f3f3f3;
  --secret-txt-opacity: 100;
}

/* For the theme button */
.hidden { display: none; }

@media (max-width: 500px) {
  /* .images * {
    display: none;
  } */
  .container {
    grid-template-areas:
        "header"
        "content" 
        "images"
        "footer";
      grid-template-columns: 1fr;
  }
  .container .content {
    border-left-width: 1px;
  }
  .container .images {
    border-left-width: 1px;
  }
  .menu {
      --button-padding: 0.25em;
  }
}
@media (min-width: 500px) {
    .container {
      grid-template-areas:
        "header header"
        "content images"
        "footer footer";
      grid-template-columns: 2fr 1fr;
    }
    .container .content {
      border-left-width: 1px;
      border-right-width: 0px;
    }
    .container .images {
      border-left-width: 0px;
      border-right-width: 1px;
    }
    .menu {
        --button-padding: 1.5em;
    }
}

html {
  /* background-color: var(--screen-bg); */
  background-size: 40px 40px;
  background-image: radial-gradient(circle, var(--screen-bg-alt) 1px, var(--screen-bg) 1px);
  color: var(--screen-tx);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h {
    font-size: 2em;
}

i {
  opacity: var(--secret-txt-opacity);
  color: var(--screen-tx);
}



body {
  vertical-align: middle;
  text-align: center;
}

.container {
  display: grid;
  max-width: 60em;
  margin: 0 auto;

  background-color: var(--foreground-bg);
  color: var(--screen-tx);

  /* border-color: var(--border-color); */
}


.container div {
  /* background-color: var(--screen-bg); */
  border: 1px solid var(--border-color);
  padding: 10px;
  
  /* font-size: 30px; */
}
.container .header {
  position: relative;
  grid-area: header;
  text-align: left;
  border-bottom-width: 0px;
}

.container .header #theme-toggle {
  position: absolute;
  top: .75em;
  right: .75em;
  border: 0;
  background-color: var(--foreground-bg);
  color: var(--screen-tx);
}

.container .content {
  border-top-width: 0px;
  border-bottom-width: 0px;

  grid-area: content;
  text-align: left;
}
.container .images {
  border-bottom-width: 0px;
  border-top-width: 0px;
  grid-area: images;
  text-align: left;
  padding: 10px;
}

.container .footer {
  grid-area: footer;
  text-align: left;
  border-top-width: 0px;
}

.menu {
  display: flex;
}

.menu a {
  display: flex;
  align-items: center;
  width: auto;
  height: 1em;
  padding-left: var(--button-padding);
  padding-right: var(--button-padding);
  background-color: var(--foreground-bg);
  color: var(--screen-tx);
  text-decoration: none;
  transition: background 0.2s;
}

.menu a:hover {
  background: var(--screen-tx);
  color: var(--foreground-bg);
}

.icon-links {
  display: flex;
  gap: 1em;
}

.icon-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: var(--screen-tx);
  color: var(--screen-bg);
  text-decoration: none;
  transition: background 0.2s;
}

.icon-links a:hover {
  background-color: var(--foreground-bg);
  color: (var(--screen-tx));
}

