/* V3 */
:root {
  --content-bg: #ffffff;
  --content-text-color: #282828;
  --content-border-color: #282828;

  --header-background: #4da2ff;
  --header-text-color: #ffffff;
  --header-border-color: #4da2ff;

  --background-primary-color: #ffffff;
  --background-complementary-color: #b1b1b1;

  --hidden-text-opacity: 0;
}

:root.dark-mode {
  --content-bg: #000000;
  --content-text-color: #f3f3f3;
  --content-border-color: #31404e;

  --header-background: #000000;
  --header-text-color: #ffffff;
  --header-border-color: #31404e;

  --background-primary-color: #000000;
  --background-complementary-color: #31404e;

  --hidden-text-opacity: 100;
}

html, body { height: 100%; }
body {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, var(--background-complementary-color) 1px, var(--background-primary-color) 1px);
  
  color: var(--content-text-color);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.hidden { display: none; }
.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 10px;
    /* border-bottom: 1px solid var(--content-border-color); */
}

.site-header .header-row {
    max-width: 60em;
    margin: 0 auto;
    border: 2px solid var(--header-border-color);
    background: var(--header-background);
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.header-full { display: flex; }
.header-compact { display: none; }

.name-link {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  padding-left: 0.5em;
  color: var(--header-text-color);
  font-size: 1.5em;
}
.name-link.sm {
  font-size: 1em;
  font-weight: 600;
}

.primary-nav {
  display: flex;
  gap: 1.5em;
}

.primary-nav a,
.compact-nav a {
  text-decoration: none;
  color: var(--header-text-color);
}
.primary-nav a:hover,
.compact-nav a:hover {
  text-decoration: underline;
}

.header-actions {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.icon-btn {
  display: inline-flex;
  align-items: center;

  justify-content: center;
  width: 36px; height: 36px;

  color: var(--header-text-color);
  text-decoration: none;
}

.theme-btn {
  width: 36px; height: 36px;
  border: 0px solid var(--header-text-color);

  background: var(--header-background);
  color: var(--header-text-color);

  display: inline-flex; align-items: center; justify-content: center;
  cursor: pointer;
}

.icon-btn:hover, .theme-btn:hover {
    background: var(--header-text-color);
    color: var(--header-background);
}

.theme-btn.sm { width: 30px; height: 30px;}
.icon-btn.sm { width: 30px; height: 30px;}

.hidden-text { opacity: var(--hidden-text-opacity);}

/* Container for page content */
.container {
  max-width: 60em;
  margin: auto;

  border: 2px solid var(--content-border-color);

  color: var(--content-text-color);
  background: var(--content-bg);

  box-shadow: 4px 4px 0px var(--content-border-color); }

/* Text + image blocks */
.block {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr minmax(220px, 280px);
  /* gap: 24px; */
  padding: 0px 1em;
}

.block .text h2 {
  margin: 0 0 8px 0;
  font-size: 1.25rem;
}
.block .text p { margin: 0 0 10px 0; }

.media {
  margin: 0;
  display: grid;
  gap: 6px;
  align-content: start;
  justify-items: center;
}

.media figcaption {
  font-size: 0.85rem;
  color: var(--content-text-color);
  text-align: center;
  justify-content: center;
}

/* Footer */
.site-footer {
  max-width: 960px;
  margin: 24px auto 48px;
  padding: 0 16px;
  color: var(--content-text-color);
}

email {
    font-family: "Courier New";
    font-size-adjust: auto;
}

@media (max-width: 720px) {
  .header-full { display: none; }
  .header-compact { display: flex; }
  /* .hidden { display: flex; } */
  .compact-nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .block {
    grid-template-columns: 1fr;
  }
  .media {
    order: 2;           /* ensure media appears AFTER the text */
  }
  .text {
    order: 1;
  }
}